<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs', { pageName: "edit page" }) %>
    <body>
        <%- include('partials/nav.ejs')%>
        <div class="user">
        <h1>Other User Page</h1>
        <form method="POST" action="/users/:id/edit">
            <img src="images/"/>
            <h3>Name:</h3>
            <br>
            <div>
                <label for="post"> What's on your mind?</label>
                <input id="post" name="post" type="text"/>
            </div>
            <div>
                <label for="img"> Post</label>
                <input id="img" name="img" type="text"/> 
            </div>
            <input class ='button' type="submit" value="Create">
        </br>
        </form>
        </div>
        </body>
    </html>
