<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>


<body>
    <div class="create">
        <h1>Create your account</h1>
        </div>
        <div class="register">
        <form method="POST" action="/users/createaccount">
            <div>
                <label for="name"> Name:</label>
                <input id="name" name="name" type="text"/>
            </div>
            <div>
                <label for="email"> Email:</label>
                <input id="email" name="email" type="text"/>
            </div>
            <div>
                <label for="password">Password:</label>
                <input id="password" name="password" type="text"/>
            </div>
            <a href="/users">Submit</a>
        </form>
        </div>
    </body>
</html>