<!DOCTYPE html>
<html lang="en">

    <%-include ("partials/head.ejs")%>

    
    <body>
        <%- include('partials/nav.ejs') %>
        <h1>Profile Page</h1>
        <form method="POST" action="/postUp">
        <img src="images/"/>
        <h3>Name:</h3>
    <br>
        <div>
            <label for="post"> What's on your mind?</label>
            <input id="post" name="post" type="text"/>
        </div>
        <div>
            <label for="img"> Add an image URL!</label>
            <input id="img" name="img" type="text"/> 
        </div>
    </br>
    <input class ='button' type="submit" value="Create">
</form>
</body>
</html>