<!DOCTYPE html>
<html lang="en">

    <%-include ("partials/head.ejs")%>

    <body>
        <%- include('partials/nav.ejs') %>

        
        <div class="profile">
        <h1>Profile Page</h1>
        <form method="POST" action="/posts/:id">
       
        <h3>Name: <p class="users"><%=users[0].name %></p>  </h3>

    <br>
        <div>
            <label for="post"> What's on your mind?</label>
            <input id="post" name="post" type="text"/>
        </div>
        <div>
            <label for="img"> Add an image URL!</label>
            <input id="img" name="img" type="text"/> 
        </div>
    </br>
    <a href="/posts">Submit</a>
</form>
</div>
</body>
</html>


